sudo: false
language: node_js
node_js:
  - "12.19"
cache: yarn
install:
  - yarn
  - yarn --cwd www
script:
  - yarn test

after_success:
  - npm run build
  - npm run semantic-release
branches:
  only:
    - master
