sudo: false
language: node_js
node_js:
  - stable
cache: yarn
script:
  - commitlint-travis
  - yarn test

after_success:
  - npm run build
  - npm run semantic-release
branches:
  only:
    - master
